<% meta :title => "Andrew Jorczak",
				:description => "Andrew Jorczak's personal site",
				:keywords => %w(rails ruby on rails Rails) 
%>

<p>
	<strong>Title</strong>
	<%= @page.title %>
</p>

<p>
	<strong>Slug</strong>
	<%= @page.slug %>
</p>

<p>
	<strong>Content:</strong>
	<%= @page.content %>
</p>